.container-article {
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-article h3 {
  font-size: 28px;
  margin-top: 0;
}
.container-article .contaier-article-descritpion {
  font-size: 20px;
  margin-top: 44px;
}
.contaier-article-price {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 8%;
}
.cart-item {
  width: 33px;
}
.cart-item:hover {
  filter: brightness(0);
  transition: 0.1s filter;
  cursor: pointer;
}
.item-article-description {
  font-size: 18px;
}
.btn-article-return {
  position: absolute;
  top: 88px;
  left: 88px;
  border: 2px solid #abd80e;
  font-size: 18px;
  padding: 11px 22px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 11px;
}
.btn-article-return:hover {
  border: 2px solid #111;
  background-color: #abd80e;
  cursor: pointer;
}
