.container-btn-sort ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container-btn-sort ul li {
  margin: 0 22px;
}

.container-items {
  margin-top: 33px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container-item {
  border: 2px solid #acd80e00;
  height: 366px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 11px 22px;
  padding: 11px 22px;
  border-radius: 22px;
  transition: 0.1s transform;
}
.container-item:hover {
  border: 2px solid #abd80e;
  cursor: pointer;
  transform: scale(1.01);
}
.container-item .item-description {
  text-align: center;
  width: 200px;
  text-overflow: ellipsis;
}
.container-item-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
}
.container-item-top img {
  max-height: 150px;
}
.container-item-top p {
  font-weight: 600;
}
.container-item-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.container-item-center h3 {
  margin: 6px 0;
}
.container-item-center p {
  margin: 0;
}
.container-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 66%;
}
.cart-item {
  width: 33px;
}
.cart-item:hover {
  filter: brightness(0);
  transition: 0.1s filter;
}
.item-price {
  font-size: 22px;
  font-weight: 600;
  z-index: 2;
}
