.container-categories-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 44px;
}
.container-category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 11px;
  transition: 0.4s;
}
.container-category-item img {
  max-height: 211px;
}
.container-category-item p {
  position: absolute;
  background-color: #111111b0;
  width: 280px;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.container-category-item:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.2s;
}
