.container-home-description {
  margin-top: 55px;
  height: 288px;
  background-image: url(../assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  text-transform: uppercase;
  text-shadow: 1px 1px 66px #fff;
}
.container-home-description h1 {
  border-top: 2px solid #acd80e;
  border-bottom: 2px solid #acd80e;
  background-color: #ffffff76;
  width: 100%;
  text-align: center;
}
