/* global section */
.container-navbar {
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 55px;
  z-index: 1;
  color: #eee;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 3px solid #abd80e;
  position: fixed;
  width: 100%;
  top: 0;
}
ul {
  display: flex;
  align-items: center;
  width: 100%;
}
ul li {
  list-style-type: none;
  transition: 0.8s;
  letter-spacing: 1px;
}
ul li:hover {
  cursor: pointer;
}

/* left section */
.container-left-navbar {
  justify-content: flex-start;
}
.container-left-navbar li {
  margin: 0 8%;
  color: #ccc;
}
.container-left-navbar li:hover {
  color: #fff;
  transition: 0.4s;
}

/* center section */
.logo-navbar {
  width: 88px;
  background-color: #303030;
  border-radius: 50%;
  margin-top: 22px;
  padding: 11px;
  border-bottom: 3px solid #abd80e;
}

/* right section */
.container-right-navbar {
  justify-content: space-around;
}
.container-right-navbar span {
  font-size: 33px;
}
.cart-navbar {
  width: 33px;
  transition: 0.8s;
}
.cart-navbar:hover {
  filter: brightness(2);
  transition: 0.4s;
}
